.sidebar{
    flex: 280px;
    height: 100%;
    
  }
  .sidebar-main{
    width: 200px;
    margin: 15px auto;
    background-color: #C8D94D;
    border-radius: 5px;
    text-align: center;
  }
  
  .sidebar-main a{
    display: inline-block;
    color: white;
    padding: 10px 15px;
    width: 100%;
  }
  .sidebar-main a:hover{
    background-color: #3E454D;
    border-radius: 5px;
    transition: 0.25s;
  }  